In [1]:
import pandas as pd
import csv

In [2]:
df2019 = pd.read_csv('dv_wy2019_A_wus.rdb', sep="\t", encoding="latin-1", dtype={'site_no': str})

In [3]:
df2020 = pd.read_csv('dv_wy2020_A_wus.rdb', sep="\t", encoding="latin-1", dtype={'site_no': str})

In [4]:
df2019['result_dt'] = pd.to_datetime(df2019['result_dt'])

In [5]:
df2019.sort_values('result_dt', ascending=False).head()

,site_no,state_cd,huc_cd,drain_area_va,parameter_cd,site_id,ts_id,stat_cd,result_dt,result_va,result_cd,data_aging_cd,dv_md
976662,480608115242901,30,17010102,NaN,60,2548515,82239,3,2019-09-30,0.00,e,A,2020-01-29 17:43:06
802817,12452500,53,17020009,924.0,60,1180456,149827,3,2019-09-30,2120.00,NaN,A,2020-05-19 16:59:07
541979,11237600,6,18040006,NaN,60,2208665,213739,3,2019-09-30,0.00,NaN,A,2020-01-09 18:10:06
760144,12323600,30,17010201,343.0,60,66089,81830,3,2019-09-30,56.80,NaN,A,2020-04-28 14:11:06
311262,09496500,4,15060104,439.0,60,19767,5655,3,2019-09-30,1.28,NaN,A,2019-11-12 15:33:06

In [6]:
df2020['result_dt'] = pd.to_datetime(df2020['result_dt'])
df2020.sort_values('result_dt', ascending=False).head()

,site_no,state_cd,huc_cd,drain_area_va,parameter_cd,site_id,ts_id,stat_cd,result_dt,result_va,result_cd,data_aging_cd,dv_md
956321,480608115242901,30,17010102,NaN,60,2548515,82239,3,2020-09-30,0.00,e,A,2020-12-08 09:39:07
328012,09522740,4,15070201,NaN,60,2233611,5830,3,2020-09-30,11.30,NaN,A,2021-03-11 12:57:06
326914,09522710,4,15070201,NaN,60,2226829,5826,3,2020-09-30,0.46,NaN,A,2020-12-11 12:35:15
871969,13341570,16,17060306,583.0,60,2179137,46571,3,2020-09-30,12.40,NaN,A,2020-11-30 19:08:06
327280,09522720,4,15070201,NaN,60,2233609,5828,3,2020-09-30,0.71,NaN,A,2021-06-09 15:50:06

In [7]:
#append multiple dfs
df = pd.concat([df2019, df2020], ignore_index=True)

In [8]:
df = df[['result_dt', 'result_va', 'site_no']]

In [9]:
df = df.drop_duplicates()

In [10]:
allsites = pd.read_csv('dv01d.csv', dtype={'site_no': str})

C:\Users\cmcglade\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
allsites = allsites[['result_dt', 'result_va', 'site_no']]
allsites = allsites.drop_duplicates()

In [12]:
allsites2 = pd.concat([df, allsites], ignore_index=True)
allsites2 = allsites2.drop_duplicates()

In [13]:
allsites2['result_dt'] = pd.to_datetime(allsites2['result_dt'])
allsites2['year'] = pd.DatetimeIndex(allsites2['result_dt']).year

In [14]:
allsites2['site_no!'] = "!" + allsites2['site_no']

In [17]:
allsites2.sort_values('year', ascending=True).head()

          result_dt  result_va   site_no  year   site_no!
20520795 1857-02-24      148.0  10079500  1857  !10079500
20520772 1857-02-01      135.0  10079500  1857  !10079500
20520774 1857-02-03      187.0  10079500  1857  !10079500
20520775 1857-02-04      184.0  10079500  1857  !10079500
20520776 1857-02-05      296.0  10079500  1857  !10079500

In [18]:
allsitesmaxyear = allsites2.groupby(['site_no!'])['year'].max().to_frame(name = 'maxresultdate').reset_index()

In [33]:
df = pd.read_csv('dv01d_por2.rdb', sep="\t", encoding="latin-1", dtype={'site_no': str, 'state_cd': str})
df['end_dt'] = pd.to_datetime(df['end_dt'])
df['begin_dt'] = pd.to_datetime(df['begin_dt'])

df['end_year'] = pd.DatetimeIndex(df['end_dt']).year #create a field for year
df['begin_year'] = pd.DatetimeIndex(df['begin_dt']).year #create a field for year
directory = df

In [34]:
directory['site_no!'] = "!" + directory['site_no']

In [38]:
allsites3 = allsitesmaxyear.merge(directory, left_on='site_no!', right_on="site_no!",how="inner")

In [40]:
allsites3.to_csv('allsiteslastyear.csv')

In [36]:
directory = directory[['site_no!', 'state_cd', 'dec_lat_va', 'dec_long_va', 'station_nm']]

In [37]:
directory.head()

,site_no!,state_cd,dec_lat_va,dec_long_va,station_nm
0,!13041000,16,44.492500,-111.397778,HENRYS FORK AT COFFEE POT RAPIDS NR ISLAND PAR...
1,!10385500,41,42.699874,-120.534416,"JONES-INNIS-ZX DITCH NEAR PAISLEY,OREG."
2,!06130000,30,46.928661,-107.932842,Flatwillow Creek near Mosby MT
3,!11114000,06,34.278892,-119.142051,SANTA CLARA RIVER AT MONTALVO CA
4,!11154700,06,36.360794,-120.760732,CLEAR C NR IDRIA CA

In [53]:
#this means that each site has only one measurement per day, which is good
allsites2 = allsites2.groupby(['site_no!', 'result_dt'])['site_no!'].count().to_frame(name = 'measurements').reset_index()

           site_no!  result_dt  measurements
0         !05010000 1947-05-01             1
58354444  !11420760 2008-10-16             1
58354442  !11420760 2008-10-14             1
58354441  !11420760 2008-10-13             1
58354440  !11420760 2008-10-12             1

In [54]:
allsites2.sort_values('measurements', ascending=False).head()

           site_no!  result_dt  measurements
0         !05010000 1947-05-01             1
58354444  !11420760 2008-10-16             1
58354442  !11420760 2008-10-14             1
58354441  !11420760 2008-10-13             1
58354440  !11420760 2008-10-12             1

In [49]:
#abbreviate allsites
allsitesabbrev = allsites2[['site_no', 'site_no!', 'year']]

#create a dataframe that just has the number of unique site numbers for every year
allsitesnodupes = allsitesabbrev.drop_duplicates()

In [60]:
gagecount = allsitesnodupes.groupby(['year'])['site_no!'].count().to_frame(name = 'gages').reset_index()
gagecount.to_csv('gagecount_by_year.csv')

In [55]:
directory = pd.read_csv('directorywithstate.csv')

In [57]:
directory = directory[['site_no!', 'dec_long_va', 'dec_lat_va', 'begin_dt', 'end_dt', 'NAME']]

In [65]:
#joining every site's historic data with the directory that has state information
allsiteswithstate = allsitesnodupes.merge(directory, left_on='site_no!', right_on="site_no!",how="inner")

In [66]:
allsiteswithstate.head()

,site_no,site_no!,year,dec_long_va,dec_lat_va,begin_dt,end_dt,NAME
0,05014300,!05014300,2018,-113.680583,48.795444,2003/05/01,2019/10/30,Montana
1,05014300,!05014300,2019,-113.680583,48.795444,2003/05/01,2019/10/30,Montana
2,05014300,!05014300,2020,-113.680583,48.795444,2003/05/01,2019/10/30,Montana
3,05014300,!05014300,2003,-113.680583,48.795444,2003/05/01,2019/10/30,Montana
4,05014300,!05014300,2004,-113.680583,48.795444,2003/05/01,2019/10/30,Montana

In [67]:
#get the measurements by state - I AM MISSING SOME!!!!! 74906 measurements
gagecountbystate = allsiteswithstate.groupby(['year', 'NAME'])['site_no!'].count().to_frame(name = 'gages').reset_index()

In [69]:
gagecountbystate.to_csv('gagecountbystate.csv')